html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #111;
  
}

.stars {
  top: 0;
  width: 100%;
  height: 50%;
  position: absolute;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#0c141f 50%, #cf33d9 40%, #0c141f 70%);
}

.geo-storm {
  position: absolute;
  width: 250px;
  height: auto;
  bottom: 10%;
}

.sun {
  width: 550px;
  height: 550px;
  transform: translateY(-175px);
  filter: drop-shadow(10px 10px 200px rgba(255,252,0)) drop-shadow(-10px -10px 50px rgba(221,54,217,1));
  border-radius: 100%;
  animation: blur 5s infinite linear;
}


@keyframes blur {
  0%, 100%  { filter: drop-shadow(10px 10px 200px rgba(255,252,0)) drop-shadow(-10px -10px 50px rgba(221,54,217,1)); }
  50% { filter: drop-shadow(10px 10px 200px rgba(221,54,217,1)) drop-shadow(-10px -10px 50px rgba(255,252,0)); }
}


.liza-container {
  transform: translateY(-50%);
  width: 200px;
  height: auto;
  filter: brightness(120%) hue-rotate(50deg);
  position: absolute;
  background-image: url("./liza.png");
  background-size: cover;
}

.liza {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.liza-container::after, .liza-container::before {
  content: "";
  z-index:21;
  display: block;
  top: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
  
}

.liza-container::before {
  left: -0.5px;
  top: -0.5px;
  filter: brightness(115%) hue-rotate(10deg);
}

.liza-container::after {
  left: 0.5px;
  top: -0.5px;
  filter: brightness(115%) hue-rotate(270deg);

}

.inner-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  perspective: 180px;
  perspective-origin: 50% 40%;
  
}

.landscape {
  position: absolute;
  width: 300%;
  left: -100%;
  height: 100%;
  bottom: -50%;
  background-image: -webkit-linear-gradient(top, #cf33d9 2px, transparent 2px),
    -webkit-linear-gradient(left, #cf33d9 2px, transparent 2px);
  background-size: 50px 50px, 80px 80px;
  background-position: -1px -1px, -1px -1px;
  transform: rotateX(60deg);
  animation: moveUp 0.15s infinite linear;
}

@keyframes moveUp {
  0% {
    background-position: 1px 1px, 1px 1px;
  }
  100% {
    background-position: 50px 50px, 1px 1px;
  }
}
